$text-color: #999;
$primary-color: #6593f5;

.dashboard {
  padding: 0 60px;
}
.project-filter {
  margin: 30px auto;
  nav {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
  }
  p {
    font-size: 0.9em;
    margin-right: 10px;
    font-weight: bold;
  }
  button {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-weight: bold;
    color: $text-color;
    cursor: pointer;
    border-right: 1px solid #e4e4e4;
    font-size: 0.9em;
  }
  button:last-child {
    border: 0;
  }
  button.active {
    color: $primary-color;
  }
}
