$heading-color: #444;
$text-color: #999;

.project-list {
  margin: 40px 0 40px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;

  a {
    background-color: #fff;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    color: inherit;
  }
  h2 {
    font-size: 0.9em;
    color: $heading-color;
  }
  p {
    color: $text-color;
    font-size: 0.9em;
  }
  .assigned-to {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee;
  }
  ul {
    margin: 10px 0;
    display: flex;
  }
  li {
    margin-right: 10px;
  }
  .profile {
    width: 30px;
    height: 30px;
  }
}
