.signForm {
  max-width: 360px;
  margin: 60px auto;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 18px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
  .signTag {
    width: 100%;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-top: 32px;
  }
}
